.main-header {
    width: 100%;
    position: fixed;
    z-index: 1000;
    margin-bottom: 50px;
    background-color: white;
}
.header-container {
    width: 90%;
    height: 100px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.navigation {
    margin-bottom: 50px;
    align-items: center;
}
.ul-el {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.ul-el-li {
    color: #333333;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}
.container {
    width: 100%;
    position: relative;
}
.Contact {
    width: 151px;
    height: 46px;
    background-color: #DEFF03;
    border-radius: 60px;
    text-align: center;
    padding: 10px 20px;
}
.back-img {
    width: 100%;
}
.bg-image {
    position: relative;
}
.left-side {
    max-width: 826px;
    height: 277px;
    position: absolute;
    top: 56px;
    left: 75px;
    color: white;
    text-align: left;
}
.main-tittle {
    color: black;
    font-size: 50px;
    margin-bottom: 20px;
    font-family: "Kanit", serif;
    font-weight: 600;
    font-style: normal;
    margin-top: 40px;
}
.paragraph {
    color: #828282;
    margin-bottom: 40px;
}
.mini-box {
    display: flex;
}
.mini-prgh {
    width: 191px;
    height: 51px;
    background-color: black;
    border-radius: 50px;
    text-align: center;
    padding: 20px 10px;
    margin-right: 10px;
}
.mini-prgh-1 {
    width: 195px;
    height: 59px;
    background-color: black;
    border-radius: 50px;
    text-align: center;
    padding: 20px 10px;
    font-family: "Kanit", serif;
    font-weight: 400;
    font-style: normal;
}
.right-box {
    max-width: 410px;
    height: 207.19px;
    background-color: #E9E9E95C;
    position: absolute;
    top: 126px;
    left: 955px;
    color: white;
}
.right-box-tittle {
    font-size: 20px;
    color: #333333;
    margin-bottom: 10px;
}
.right-box-paragraph {
    color: #828282;
    margin-bottom: 16px;
}
.section-2 {
    margin-top: 40px;
}
.container-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 80px;
}
.box-1 {
    width: 177px;
    text-align: center;
}
.box-2 {
    width: 354px;
    text-align: center;
}
.box-3 {
    width: 117px;
    text-align: center;
}
.box-4 {
    width: 135px;
    text-align: center;
}
.small-tittle {
    font-size: 48px;
    color: black;
    text-align: center;
    font-family: "Kanit", serif;
    font-weight: 600;
    font-style: normal;
}
.description {
    text-align: center;
    font-family: "Kanit", serif;
    font-weight: 400;
    font-style: normal;
}
.section-3 {
    width: 90%;
    background-color: yellow;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 80px;
    margin-bottom: 120px;
}
.container-3 {
    display: flex;
    width: 90%;
}
.left-container {
    width: 744px;
}
.left-side-img {
    width: 100%;
}
.right-container {
    max-width: 476px;
    height: 405px;
    padding-top: 122px;
    margin-left: 30px;
}
.right-container-tittle {
    font-size: 30px;
    font-family: "Kanit", serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 10px;
}
.right-container-paragraph {
    font-size: 20px;
    font-family: "Kanit", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 40px;
}
.learn {
    width: 173px;
    height: 64px;
    border: 1px solid;
    border-radius: 50px;
}
.More {
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

.main-box {
    width: 90%;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.service {
    font-size: 30px;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}
.mini-div-box {
    width: 151px;
    height: 46px;
    background-color: #DEFF03;
    border-radius: 60px;
    text-align: center;
    padding: 10px 20px;
}
.top-content {
    margin-left: 80px;
}
.container-4 {
    width: 90%;
    margin: 0 auto;
    display: flex;
    column-gap: 30px;
    margin-bottom: 100px;
}
.small-boxes {
    max-width: 270px;
    height: 350px;
    border: 1px solid #E0E0E0;
    border-radius: 20px;
    margin: 0 auto;
}
.icon {
    margin-top: 24px;
    margin-left: 24px;
    margin-bottom: 8px;
}
.tittle-h3 {
    color: black;
    font-size: 24px;
    margin-bottom: 10px;
}
.info-block {
    max-width: 253px;
    margin-left: 24px;
    margin-right: 24px;
}
.container-6 {
    width: 90%;
    display: flex;
    margin: 0 auto;
    column-gap: 30px;
    margin-bottom: 40px;
}
.img-6 {
    /* transform: scale(1.05); */
}
.container6-tittle {
    color: #4F4F4F;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 20px;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}
.container6-paragraph {
    color: #828282;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}
.container-7 {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
}
.container7-tittle {
    color: #333333;
    font-size: 40px;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    margin-bottom: 30px;
}
.input-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.form {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    margin-right: 15px;
}
.input-email {
    width: 350px;
    height: 60px;
    font-size: 20px;
    border-radius: 20px;
}
.sub-par {
    width: 170px;
    height: 60px;
    background-color: #DEFF03;
    border-radius: 60px;
    text-align: center;
    padding: 20px 20px;
    font-size: 20px;
}

.footer {
    width: 100%;
    background-color: black;
    display: flex;
}
.footer-container {
    width: 90%;
    padding-left: 76px;
}
.footer-container-2 {
    display: flex;
    padding-right: 76px;
    column-gap: 119px;
}
.footer-paragraph {
    width: 348px;
    height: 100px;
    margin-top: 20px;
}
.footer-paragraph-1 {
    color: white;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}
.footer-box {
    max-width: 300px;
}
.footer-tittle {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}
.footer-list {
    color: white;
    font-size: 16px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 10px;
}
.footer-div {
    display: inline;
    column-gap: 8px;
    margin-bottom: 8px;
}
.fa-brands {
    width: 4opx;
    height: 40px;
    color: white;
}
.img-box {
    position: relative;
}
.container-5 {
    margin-bottom: 50px;
}
.img-box-5 {
    width: 100%;
    display: block;
}
.container5-tittle {
    color: #F2F2F2;
    font-size: 30px;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 8px;
}
.container5-paragraph {
    color: #F2F2F2;
    font-size: 20px;
    margin-bottom: 8px;
}
.container5-list {
    color: #F2F2F2;
    margin-bottom: 10px;
}

.inside-box {
    max-width: 600px;
    height: 549px;
    position: absolute;
    top: 123px;
    left: 75px;
}